:root {
    /*color*/
    --green: #519259;
    --light: #fff;
    --light-grey: rgba(238, 238, 239, 0.5);
    --grey: #e3e3e3;
    --blue: #3C91E6;
    --blue-primary: #1b74e3;
    --light-blue: #abd3fb;
    --dark-grey: #AAAAAA;
    --gray: rgb(95, 95, 95);
    --dark: #000;
    --red: #ee221b;
    --yellow: #e69b06;
    --light-yellow: #fffcc6;
    --orange: #FD7238;
    --light-orange: #f0d862;
    --pink: rgb(245, 155, 170);
    /* font */
    --lato: 'Lato', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    padding: 0;
    background-color: var(--light)!important;
    overflow: hidden;
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none!important;
    cursor: pointer;
}

a > * {
    color: var(--dark);
}

p {
	margin: 0!important;
}

#navbar-left{
    width: 60px;
    height: 100%;
    position: sticky;
    background-color: var(--grey);
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-right: 1px solid var(--grey);
}

#navbar-left.show {
    width: 250px;
}

#navbar-left label {
    display: none;
}

#brand {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#brand-name {
    font-size: 33px;
    font-family: 'Dancing Script', cursive;
    transition: 1s;
}

#brand:hover #brand-name {
    transform: scale(1.1);
}

#logo {
    width: 50px;
    border-radius: 50%;
}

#navbar-navigation {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 5px;
}

.navbar-item{
    height: 48px;
    display: flex;
    position: relative;
    border-radius: 5px;
}

.navbar-item a, .navbar-item button{
    width: 100%;
    height: 100%;
    display: flex;
    border: none;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    gap: 5px;
    padding: 15px;
    border-radius: 5px;
}

.navbar-item label{
    cursor: pointer;
}

.navbar-item a i,
.navbar-item button i {
    font-size: 1.2rem;
}

.navbar-item.active > *{
    background-color: var(--dark-grey);
}



/* content */

#content {
    position: relative;
    width: calc(100% - 60px);
    height: 100vh;
    transition: 1s;
    margin-right: 0;
}

#content.active {
    width: calc(100% - 250px);
}

#content > * {
    font-family: var(--poppins);
    /* font-weight: bold; */
}

#navbar-top {
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding:10px 15px;
    transition: 1s;
    background-color: var(--light)!important;
    z-index: 1;
    border-bottom: 1px solid var(--grey);
    position: relative;
}

#navbar-top button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    gap: 5px;
}

#navbar-top button i{
    font-size: 1.3rem;
}

#navbar-top button#menu-btn{
    border: none;
}

#navbar-top button i{
    font-size: 1.5rem;
}

#navbar-top #search-form {
    width: max-content;
    position: relative;
}

#navbar-top #search-input:focus {
    box-shadow: 0px 0px 0px 1px var(--grey);
}

#search-input {
    border-radius: 5px;
    border: 0.5px solid var(--grey);
}

#navbar-top button#search-submit {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    color: var(--dark);
    background-color:  var(--grey);
}

#navbar-top button#search-submit:hover {
    color: var(--light);
    background-color:  var(--dark);
}

#navbar-top #search-result {
    background-color: var(--light); 
    position: absolute;
    top:calc(100% + 10px);
    height: 200px; 
    overflow: scroll; 
    padding: 10px!important; 
    display: none;
    border: 1px solid var(--grey);
    border-radius: 0 0 5px 5px;
}

#navbar-top #search-result button#hide-result {
    padding: 5px;
    border: none;
    background-color: var(--grey);
    position: absolute; 
    right: 0;
}

#navbar-top #search-result li{
   width: 100%;
}
#navbar-top #search-result li a{
    width: 100%;
 }

#navbar-top .btn-group button {
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 10px;
    color: var(--dark);
    background-color: var(--grey);
    position: relative;
}

#navbar-top #notification-popup {
    width: 300px;
    height: 500px;
    position: absolute;
    right: 60px;
    bottom: -510px;
    background-color: var(--light);
    border: 1px solid var(--grey);
    border-radius: 10px 0 10px 10px;
    display: none;
}

#navbar-top #notification-popup h5{
    width: 100%;
    gap: 7px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

#navbar-top #notification-popup .notification-popup-top {
    border-bottom: 0.5px solid var(--grey);
    padding: 10px;
    display: flex;
    align-items: center;

}

#navbar-top #notification-popup .notification-popup-body {
    width: 100%;
    height: calc(100% - 44.5px);
    overflow: scroll;
}

#navbar-top #notification-popup .notification-popup-body .notification {
    padding: 10px;
}

#navbar-top #notification-popup .notification-popup-body .notification:hover {
    background-color: var(--grey);
    cursor: pointer;
}

#navbar-top #notification-popup .notification-popup-body .notification > *{
    font-size: 0.8rem;
}

#navbar-top #notification-popup .notification-popup-body .notification .notification-top {
    position: relative;
}

#navbar-top #notification-popup .notification-popup-body .notification .notification-top::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 29%;
    background-color: var(--red);
    color: var(--light);
    font-weight: bold;
    animation:  notifiTagAnimate 1s infinite;
}

#navbar-top #notification-popup .notification-popup-body .notification .notification-top h6 {
    font-size: 0.7rem;
    margin: 0;
    color: var(--dark-grey);
}

#navbar-top .btn-group #notification-btn-group #notification-tag{
    padding: 2px 5px;
    font-size: 0.6rem;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: var(--red);
    color: var(--light);
    font-weight: bold;
    animation:  notifiTagAnimate 1s infinite;
}

@keyframes notifiTagAnimate {
    0% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}


#navbar-top .btn-group button.user-btn {
    padding: 0px 15px;
    font-size: 1.3rem;
    background-color: var(--pink);
    color: var(--light);
}

#navbar-top .btn-group button:hover {
    background-color: var(--dark);
    color: var(--light);
}

/* user */

#user-infomation {
    box-shadow: 0 1px 8px 5px #dddfe2;
    border-radius: 10px;
}

#user-img-group {
    height: 180px;
    background-color: var(--grey);
    position: relative;
}

#avata {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -40%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--pink);
    transform: translate(-50%, 0);
    font-size: 7rem;
    color: var(--light);
    border: 5px solid var(--light);
}

#user-name-group {
    margin-top: 90px;
}

#img-control-group {
    padding: 10px;
}

#img-control-group {
    padding: 10px;
    justify-content: space-between;
}

#img-control-group button:nth-child(1){
    width: calc(100% - 70px);
}
#img-control-group button:nth-child(2){
    width: 60px;
}

#info-group {
    padding: 10px 0;
    padding-right: 10px;
}
#info-group .input-group:nth-child(even){
    margin: 5px 0px;
}

#info-group .input-group span{
    width: 100px;
    border: none;
    background-color: transparent;
}

#info-group .input-group input,
#info-group .input-group button{
    border-radius: 5px;
}

#info-group .input-group input:disabled,
#info-group .input-group select:disabled{
    background-color: transparent;
    border: none;
}

#gender-control {
    display: flex;
    align-items: center;
}

#gender-control input{
    margin-right: 5px;
}

#address-group {
    width: calc(100% - 100px);
    gap: 5px
}

#address-group select{
    width: 100%;
    height: 30px;
    padding: 0 10px;
}

/* notifycation */

#notifycation {
    padding: 10px 20px;
    background-color: var(--red);
    color: var(--light);
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    animation: showNotify 1s;
    z-index: 100;
}


#notifycation.success {
    background-color: var(--green);
}

@keyframes precariosAnimation {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    0% {
        transform: rotate(-30deg);
    }
}

@keyframes roundLoopAnimation {
    from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes showFromLeft {
    from {
        opacity: 0;
        transform: translate(-100%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes showFromRight {
    from {
        opacity: 0;
        transform: translate(100%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes showFromTop {
    from {
        opacity: 0;
        transform: translate(0, -100%);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes showFromBottom {
    from {
        opacity: 0;
        transform: translate(0, 100%);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes showSlowly {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    #content main {
        padding: 10px!important;

    }
}

