

#main-content-frame {
    height: calc(100% - 60px);
}

#main-content {
    height: 100%;
    padding: 25px;
    overflow: scroll;
    z-index: 0;
}


/* content header */

#content-header-frame {
    overflow: hidden;
    background-image: url(../../pictures/home_head_background.jpg);
    background-position: center;
    background-size: cover;
}

#content-header {
    width: 100%;
    padding: 150px 50px;
    display: flex;
}

#content-header div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content-header div.content h1{
    color: var(--light);
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    animation: showFromTop 1.5s ease-in-out;
}

#content-header div.content p{
    color: var(--light);
    animation: showFromBottom 1.5s ease-in-out;
}

#content-header div div{
    display: flex;
    width: max-content;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
}

#content-header div div.button-group {
    width: 50%;
}

#content-header div div.button-group > *{
    text-decoration: none;
    width: 50%;
    border: 1px solid;
    font-size: 1.2rem;
    color: var(--dark);
    padding: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    animation: showSlowly 2s ease-in-out;
    transition: 0.5s;
}

#content-header div div.button-group > *:hover {
    transform: scale(1.05);
}

#content-header div div.button-group > *:nth-child(1){
    background-color: var(--light);
    color: var(--red);
}

#content-header div div.button-group > *:nth-child(1):hover{
    background-color: var(--red);
    color: var(--light);
}

#content-header div div.button-group > *:nth-child(2){
    background-color: var(--green);
    color: var(--light);
}

#content-header div div.button-group > *:nth-child(2):hover{
    background-color: var(--light);
    color: var(--green);
}

#content-header div div.button-group > *:nth-child(2):hover i{
    color: var(--green);
}

#content-header div div.button-group > * i {
    color: var(--light);
    font-size: 1.5rem;
}

/* products */

#products-category {
    width: 100%;
    height: max-content;
}

#products-category .products-list .products-header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#products-category .products-list .products-header h3{
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
}

#products-category .products-list .products-header a{
    border: none;
    padding: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: var(--orange);
}


#products-category .products-list .products-header a > *{
    color: var(--orange);
    font-size: 1.5rem;
}

#products-category .products-list .products{
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    justify-content: center;
}

#products-category .products-list .products .product-frame{
    height: 230px;
    padding: 10px;
}

#products-category .products-list .products .product-frame .product{
    padding: 10px;
    border-radius: 15px;
    background-color: var(--light);
    box-shadow: 0 3px 6px 0 rgba(79, 79, 79, 0.2), 0 4px 10px 0 rgba(86, 86, 86, 0.19);
    transition: 0.5s;
}

#products-category .products-list .products .product:hover{
    transform: scale(1.03);
    box-shadow: 9px 12px 21px -7px rgba(0, 0, 0, 0.75);
}

#products-category .products-list .products .product-frame:nth-child(n+13){
    display: none;
}

.product a{
    width: 100%;
    height: 100%;
}

.product .product-top{
    display: flex;
    height: 70%;
}

.product .product-img{
    width: 30%;
    max-height: 100%;
    overflow: hidden;
}

.product .product-img img.img {
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
    border-radius: 10px;
}

.product .product-content{
    width: 70%;
    padding: 0 10px;
    gap: 10px;
    overflow: hidden;
}

.product .product-content .product-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
}

.product .product-content .product-name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.product .product-content .description{
    padding: 10px 0;
    width: 100%;
    height: 50px;
    font-size: 0.8rem;
    color: var(--dark-grey);
    text-overflow: ellipsis;
    overflow: hidden;
}

.product .product-content .sale-unit{
    font-size: 0.8rem;
    color: var(--dark);
    text-overflow: ellipsis;
}

 .product a{
    width: max-content;
}

 .product a p{
    width: max-content;
    max-width: 110px;
    font-size: 1.1rem;
    margin: 0;
}

 .product .product-body{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.quantity-group{
   display: flex;
}

.quantity-group > *{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-group button{
    border-radius: 50%;
}

.quantity-group button,
.product .product-body button.add-to-cart-btn{
    background-color: transparent;
    border: 0.5px solid var(--dark);
}

.quantity-group button:hover,
.product .product-body button.add-to-cart-btn:hover{
    border-color: var(--dark);
    background-color: var(--dark);
    color: var(--light);
}
 
.product .product-body button.add-to-cart-btn{
    border-radius: 20px;
    padding: 5px 10px;
}

.prices {
    color: var(--orange);
}


/* policy */

#policy {
    width: 100%;
    height: max-content;
}

#policy #demo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#policy #demo img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 10px solid var(--green);
    transition: 1s;
}

#policy #demo img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#policy div.policy-content .row{
    height: 50%;
    padding: 60px 0px;
}

#policy div.policy-content:nth-child(1) .row {
    text-align: right;
    padding-left: 50px;
}

#policy div.policy-content:nth-child(2) .row {
    text-align: right;
    padding-right: 50px;
}

#policy div.policy-content .row h1{
    font-size: 2rem;
}

#policy div.policy-content .row i{
    font-size: 4.3rem;
    color: var(--green);
}

#policy div.policy-content .row label{
    font-size: 1.25rem;
    color: var(--dark-grey);
}

/* footer */

#footer {
    background-color: var(--grey);
    padding: 64px 0  0 0!important;
}

#footer > * {
    color: var(--dark);
}

#footer #main-footer .container > div {
    height: 100%;
}

#footer #main-footer {
    height: max-content;
    padding-bottom: 30px;
}

#footer #main-footer .container {
    height: max-content;
    padding: 0 100px;
    display: flex;
}

#footer #main-footer .footer-title {
    font-family: 'Merriweather', serif;
    color: var(--yellow);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#footer #main-footer ul {
    flex-direction: column;
    display: flex;
    gap: 5px;
    padding-left: 0;
}

#footer #main-footer li{
    width: 100%;
}

#footer #main-footer li:hover > *{
    color: var(--blue);
    cursor: pointer;
}

#footer #main-footer li a{
    width: 100%;
    color: var(--dark);
    font-weight: lighter;
}

#footer #main-footer .locations {
    border-left: 0.5px solid var(--dark-grey);
    border-right: 0.5px solid var(--dark-grey);
    text-align: center;
}

#footer #main-footer .join-team {
    text-align: end;
}

#footer #end-footer {
    background-color: #343434;
    padding: 10px 0;
}

#footer #end-footer .main-end-footer{
    display: flex;
    justify-content: space-between;
}

#footer #end-footer .main-end-footer .payment span{
   color: var(--light);
}

#footer #end-footer .main-end-footer .social ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

#footer #end-footer .main-end-footer .social ul li a i{
    font-size: 1.5rem;
    color: var(--light);
}

/*--------- cart ---------*/

#cart {
    height: 100%;
    display: flex;
    padding: 25px;
    gap: 25px;
    overflow: scroll;
}

#cart #cart-page {
    display: flex;
}

#cart #cart-page > *{
    padding: 24px;
    height: 100%;
}

#cart #purchase-process{
    height: 10%;
    position: relative;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    border: 1px solid var(--dark-grey);
    border-radius: 20px 0px 20px 0px;
    overflow: hidden;
}

#cart #purchase-process #process-line{
    height: 4px;
    width: 5.6%;
    background-color: var(--dark);
    position: absolute;
    z-index: -1;
    animation: showFirstStepLine 1s;
}

@keyframes showFirstStepLine {
    from {
        width: 0%;
    }
    to{
    }
}

#cart #purchase-process ul {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#cart #purchase-process ul::before {
    position: absolute;
    height: 4px;
    background-color: var(--grey);
    content: "";
    width: 100%;
    top: 6px;
    z-index: -2;
}

#cart #purchase-process ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96px;
    font-size: 12px;
    gap: 5px;
    position: relative;
}

#cart #purchase-process ul li span{
    position: absolute;
    bottom: -120%;
}

#cart #purchase-process ul li::before {
    display: block;
    width: 15px;
    height: 15px;
    content: '';
    border-radius: 50%;
    background-color: var(--grey);
}

#cart #purchase-process ul li.active::before {
    background-color: var(--dark);
}


#cart #cart-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
    position: relative;
}

#cart #cart-list table{
    height: 100%;
    overflow: hidden;
}

#cart #cart-list table thead{
    border-bottom: 1px solid var(--grey);
}

#cart #cart-list table thead tr th {
    padding: 10px 15px;
    font-size: 1.2rem;
}

#cart #cart-list table thead tr th:nth-child(1) {
    padding-left: 0;
}

#cart #cart-list table tbody tr {
    border-bottom: 1px solid var(--grey);
}

#cart #cart-list table tbody tr td {
    padding: 20px 15px;
    height: 200px;
}

#cart #cart-list table tbody tr td:nth-child(1) {
    padding-left: 0;
}

#cart #cart-list table tbody tr td.product-info {
    display: flex;
}

#cart #cart-list table tbody tr td.product-info img{
    width: 30%!important;
    height: 100%!important;
    border-radius: 10px;
    object-fit: cover;
}

#cart #cart-list table tbody tr td.product-info .product-content{
    padding-left: 16px;
    width: 50%;
}

#cart #cart-list table tbody tr td.product-info .product-content p{
    margin-bottom: 0;
    color: var(--dark-grey);
}

#cart #cart-list table tbody tr td.control button {
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#cart #cart-list table tbody tr td.control button i{
    font-size: 1.6rem;
}

#cart #order-summary-frame {
    position: sticky;
}

#cart #order-summary {
    background-color: var(--light-grey);
    height: max-content;
    padding: 30px 20px;
}

#cart #order-summary div{
    display: flex;
    justify-content: space-between;
}

#cart  button#purchase-button{
    width: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px 0px 20px 0px;
    background-color: var(--dark);
    color: var(--light);
    border: none;
    font-size: 1.2rem;
    transition: 0.2s;
}

#cart  button#purchase-button:hover{
    background-color: transparent;
    border: 1px solid;
    color: var(--dark);
}

.prices-txt {
    color: red;
}

/* payment */

#payment {
    height: 100%;
    display: flex;
    padding: 25px;
    gap: 25px;
    overflow: scroll;
}

#payment #payment-page {
    display: flex;
}

#payment #payment-page > *{
    padding: 24px;
    height: 100%;
}

#payment #purchase-process{
    height: 10%;
    position: relative;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    border: 1px solid var(--dark-grey);
    border-radius: 20px 0px 20px 0px;
    overflow: hidden;
}

#payment #purchase-process #process-line{
    height: 4px;
    width: 33.6%;
    background-color: var(--dark);
    position: absolute;
    z-index: -1;
    animation: showSecconStepLine 1s;
}

@keyframes showSecconStepLine {
    from {
        width: 8%;
    }
    to{
    }
}

#payment #purchase-process ul {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#payment #purchase-process ul::before {
    position: absolute;
    height: 4px;
    background-color: var(--grey);
    content: "";
    width: 100%;
    top: 6px;
    z-index: -2;
}

#payment #purchase-process ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96px;
    font-size: 12px;
    gap: 5px;
    position: relative;
}

#payment #purchase-process ul li span{
    position: absolute;
    bottom: -120%;
}

#payment #purchase-process ul li::before {
    display: block;
    width: 15px;
    height: 15px;
    content: '';
    border-radius: 50%;
    background-color: var(--grey);
}

#payment #purchase-process ul li.active::before {
    background-color: var(--dark);
}

#payment #delivery-info {
    display: flex;
    gap: 24px;
    margin-top: 24px;
    position: relative;
}

#payment #delivery-info #login-group {
    display: flex;
    gap: 10px;
}

#payment #delivery-info #login-group a{
    text-decoration: none;
    width: 40%;
    border: 1px solid;
    font-size: 1.2rem;
    color: var(--dark);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0px 20px 0px;
    cursor: pointer;
}

#payment #delivery-info #login-group a:nth-child(1){
    background-color: var(--dark);
    color: var(--light);
}

#payment #delivery-info #login-group a:nth-child(1):hover{
    background-color: var(--light);
    color: var(--dark);
}

#payment #delivery-info #login-group a:nth-child(2){
    background-color: var(--light);
    color: var(--dark);
}

#payment #delivery-info #login-group a:nth-child(2):hover{
    background-color: var(--dark);
    color: var(--light);
}

#payment #delivery-info label{
    font-size: 0.9rem;
    font-weight: 100;
}

#payment #input-delivery-info input,
#payment #input-delivery-info select{
    padding: 10px 10px;
}

#payment #delivery-method-info #delivery-method {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#payment #delivery-method-info #delivery-method .delivery-option input[type="radio"] {
    display: none;
}

#payment #delivery-method-info #delivery-method .delivery-option label{
    border: 1px solid;
    padding: 7px 10px;
    border-radius: 20px 0px 20px 0px;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
}

#payment #delivery-method-info #delivery-method .delivery-option input[type="radio"]:checked + label {
    background-color: var(--dark);
    color: var(--light);
  }






#payment #order-summary-frame {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#payment #order-summary,
#payment #discount-group {
    background-color: var(--light-grey);
    height: max-content;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#payment #order-summary div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#payment  button#purchase-button{
    width: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: var(--dark);
    color: var(--light);
    border: none;
    font-size: 1.2rem;
    transition: 0.2s;
}

#payment  button#purchase-button:hover{
    background-color: transparent;
    border: 1px solid;
    color: var(--dark);
}

/* ------------- oder ------------- */

#order {
    display: flex;
    overflow: hidden;
}

#order #order-left {
    border-right: 1px solid var(--grey);
}

#order #order-left #order-filter{
    padding: 24px;
    height: max-content;
    border-bottom: 1px solid var(--grey)
}

#order #order-left #order-filter .filter-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#order #order-left #order-filter .filter-form .filter-group{
    display: flex;
    gap: 10px;
}

#order #order-left #order-filter .filter-form .filter-group > *{
    width: 50%;
}

#order #order-left #order-list{
    height: calc(100% - 191px);
    overflow: scroll;
}

#order #order-left #order-list .order {
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}


#order #order-left #order-list .order:hover ,
#order #order-left #order-list .order.active{
    background-color: var(--light-grey);
}

#order #order-left #order-list .order:nth-child(even) {
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);

}

#order #order-left #order-list .order .order-top{
    display: flex;
    justify-content: space-between;
}

#order #order-left #order-list .order .order-top .status {
    padding: 5px;
    border-radius: 10px;
    font-size: 0.7rem;
    color: var(--light);
}

#order #order-left #order-list .order .order-top .status.pending{
    background-color: var(--orange);
}

#order #order-left #order-list .order .order-top .status.process{
    background-color: var(--yellow);
}

#order #order-left #order-list .order .order-top .status.completed{
    background-color: var(--green);
}

#order #order-left #order-list .order .order-top .status.rejected{
    background-color: var(--red);
}

#order #order-left #order-list .order .order-body .order-name{
    font-size: 0.9rem;
    white-space: nowrap; /* Ngăn các dòng mới */
    overflow: hidden; /* Ẩn nội dung vượt quá kích thước phần tử */
    text-overflow: ellipsis;
    color: var(--gray);
}

#order #order-right {
    transition: 1s;
}

#order #order-right .detail-top {
    padding: 24px;
    background-color: var(--light);
    border-bottom: 1px solid var(--grey);
}

#order #order-right .detail-top .heading {
    display: flex;
    justify-content: space-between;
}

#order #order-right .detail-top .heading button{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}


#order #order-right .detail-top .short-info {
    color: var(--dark-grey);
}

#order #order-right .detail-body {
    height: calc(100% - 130px);
    background-color: var(--grey);
    padding: 40px;
    overflow: scroll;
}

#order #order-right .detail-body .order-detail {
    width: 100%;
    min-height: 100%;
    border-radius: 10px;
    background-color: var(--light);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#order #order-right .detail-body .order-detail .order-top{
   display: flex;
   justify-content: space-between;
}

#order #order-right .detail-body .order-detail .order-top .avatar{
   width: 60px;
   height: 60px;
   border-radius: 12px;
   background-color: pink;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   color: var(--light);
}

#order #order-right .detail-body .order-detail .order-top .order-info{
    display: flex;
    flex-direction: column;
    text-align: right;
}

#order #order-right .detail-body .order-detail .order-top .order-info > *{
    margin: 0;
}

#order #order-right .detail-body .order-detail .order-top .order-info > span{
    color: var(--gray);
    font-size: 0.9rem;
}


#order #order-right .detail-body .order-detail .address-info{
    display: flex;
    justify-content: space-between;
}

#order #order-right .detail-body .order-detail .address-info > *{
   width: 250px;
}

#order #order-right .detail-body .order-detail .address-info > * > *{
    margin: 0;
}

#order #order-right .detail-body .order-detail .address-info > * span{
    color: var(--gray);
    font-size: 0.9rem;
}

#order #order-right .detail-body .order-detail .address-info .to{
   text-align: right;
}

#order #order-right .detail-body .order-body{
    width: 100%;
    border: 1px solid var(--grey);
    border-radius: 10px;
}

#order #order-right .detail-body .order-body table{
    width: 100%;
}

#order #order-right .detail-body .order-body tr{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    padding: 10px;
}

#order #order-right .detail-body .order-body tr{
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

#order #order-right .detail-body .order-body tr th {
    font-weight: bold;
}

#order #order-right .detail-body .order-body tr td {
    font-size: 0.9rem;
}

#order #order-right .detail-body .order-body tr th,
#order #order-right .detail-body .order-body tr td{
    color: var(--gray);
}

#order #order-right .detail-body .order-body tr th:nth-child(3),
#order #order-right .detail-body .order-body tr td:nth-child(3){
    color: var(--dark);
    font-weight: bold;
}

#order #order-right .detail-body .order-body tr th,
#order #order-right .detail-body .order-body tr td{
    min-width: 33.3%;
    text-align: center;
}


#order #order-right .detail-body .prices-info .row{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#order #order-right .detail-body .prices-info .row > *{
    width: max-content;
    padding: 0;
}


#order #order-right .detail-body .order-footer{
    display: flex;
    justify-content: space-between;
}

#order #order-right .detail-body .order-footer > span{
    color: var(--gray);
    display: flex;
    align-items: center;
}

#order #order-right .detail-body .order-footer > button{
    padding: 10px;
    border: 0.5px var(--gray);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#order #order-right .detail-body .order-footer > button > i{
    font-size: 1.5rem;
}

#order #order-right .detail-body .order-footer > button:hover {
    background-color: var(--dark);
    color: var(--light);
}

@keyframes showStepLine {
    0% {
        width: 10px;
    }
    100% {

    }
}

.oder-steps .step:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 1s;
}

.oder-steps .step.completed{
    border: 3px solid var(--green);
}

.oder-steps .step.completed i {
    color: var(--green);
}

.oder-list {
    height: 500px;
    overflow: auto;
}

.order-list ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.oder-item {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.oder-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}


.oder-item .quantity-group {
    display: flex;
    gap: 10px
}

.oder-item .quantity-group > *{
    width: max-content;
}

.oder-item-info {
    padding: 0px 10px;
}

.oder-prices {
    padding: 10px 0px;
}

#scroll-to-top {
    bottom: 10px;
    right: 10px;
    position: fixed;
}

#scroll-to-top > *{
    color: var(--light);
}

/* product */



#product-page #product-page-left {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

#product-page #product-page-left #product {
    height: 60%!important;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 1px 8px 5px #dddfe2;
}

#product-page #product-page-left #product .product-top{
    height: 80%;
}

#product-page #product-page-left #product .product-body{
    height: 20%;
}

#product-page #product-page-left #product .description{
    height: max-content;
}

#product-page #product-page-left #product .description,
#product-page #product-page-left #product .sale-unit{
    font-size: 1rem;
}



#product-page #product-page-left #comments {
    height: 40%!important;
}

#product-page #product-page-left #comments #comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: right;
    height: 30%;
}

#product-page #product-page-left #comments #comment-form #comment-input-group {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

#product-page #product-page-left #comments #comment-form #comment-input-group::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: var(--dark);
    animation: showCommentInputLine 1s ease-in-out;
}

@keyframes showCommentInputLine {
    from{
        width: 5%;
    }
    to {
        width: 100%;
    }
}

#product-page #product-page-left #comments #comment-form input {
    border: none;
    border-radius: 0;
    padding: 5px 0;
    transition: 1s;
}

#product-page #product-page-left #comments #comment-form input:focus {
    border-width: 2px;
    box-shadow: none;
}

#product-page #product-page-left #comments #comment-form input::-webkit-input-placeholder {
    font-size: 0.9rem;
}

#product-page #product-page-left #comments #comment-button-group {
    justify-content: flex-end;
    display: flex;
    gap: 5px;
}

#product-page #product-page-left #comments #comment-button-group button {
    width: max-content;
    border-radius: 35px;
    padding: 5px 25px;
    background-color: var(--grey);
    border: none;
    transition: 0.3s;
}

#product-page #product-page-left #comments #comment-button-group button#cancel-comment-btn {
    background-color: var(--light-grey);
    border: none;
}

#product-page #product-page-left #comments #comment-button-group button#cancel-comment-btn:hover {
    background-color: var(--grey);
}

#product-page #product-page-left #comments #comment-button-group button#comment-btn:hover,
#product-page #product-page-left #comments #comment-button-group button#comment-btn.active {
    background-color: var(--dark);
    color: var(--light);
}

#product-page #product-page-left #comments #comments-frame {
    padding-top: 10px;
    height: 70%;
    overflow: scroll;
}

#product-page #product-page-left #comments #comment-list {
    padding: 0;
    margin: 0;
}


#product-page #product-page-left #comments #comment-list .comment {
    width: 100%;
    padding: 10px 0;
    display: flex;
    gap: 10px;
}

#product-page #product-page-left #comments #comment-list .comment .comment-avatar{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--pink);
    border-radius: 50%;
    font-size: 1.5rem;
}

#product-page #product-page-left #comments #comment-list .comment .comment-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#product-page #product-page-left #comments #comment-list .comment .comment-content .comment-content-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#product-page #product-page-left #comments #comment-list .comment .comment-content .comment-content-top .comment-time,
#product-page #product-page-left #comments #comment-list .comment .comment-content .comment-text{
    font-size: 0.9rem;
    color: var(--gray);
}

#product-page #product-page-left #product .product-content{
    padding: 0px 20px;
}

#product-page #products-category {
    width: 30%;
    height: 100%;
    overflow: scroll;
    border-left: 1px solid var(--grey);
    padding: 0 20px;
}

#product-page #products-category .products{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#product-page #products-category .products .product{
    box-shadow: 0 1px 8px 5px #dddfe2;
    border-radius: 15px;
}


@keyframes showNotify {
    0% {
        opacity: 0;
        transform: translate(100%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    html {
        font-size: 15px;
    }
    #navbar-top .btn-group{
        display: none;
    }

    #content-header div.content h1 {
        font-size: 2.5rem;
    }

    #content-header div.content p {
        font-size: 0.7rem;
    }

    /* policy */

    #policy #demo img{
        width: 200px;
        height: 200px;
        border-width: 5px;
    }

    #policy div.policy-content:nth-child(1) .row{
        padding-left: 0;
    }

    #policy div.policy-content .row h1{
        font-size: 1.5rem;
    }

    #policy div.policy-content .row label{
        font-size: 1rem;
    }

    /* footer */

    #footer .row div > label{
        font-size: 1rem;
    }

     /*/////////*/

    #payment #payment-page,
    #payment #delivery-info{
         flex-direction: column;
     }

     #payment #payment-page > *{
        padding: 0px;
        height: max-content;
    }

    #payment #purchase-process #process-line{
        top: 18px;
    }


    /* product page */

    #product-page {
        flex-direction: column;
    }

    #product-page #product-page-left {
        width: 100%;
        padding: 0!important;
    }

    #product-page #product-page-left #product {
        height: 50%!important;
    }

    #product-page #product-page-left #comments {
        height: 50%!important;
    }

    #product-page #products-category {
        width: 100%;
        padding: 0;
        overflow: visible;
        border: none;
    }

    #product-page #products-category .products{
        padding: 0!important;
    }
}

@media only screen and (max-width: 767px) {

    html {
        font-size: 13px;
    }
    #content {
		width: 100%;
	}
	#navbar-left {
		position: absolute;
		top: 51px;
		left: -100%;
		z-index: 1;
	}

	#navbar-left.show {
		left: 0;
	}
	#navbar-top .btn-group {
		display: none;
	}

	#content.active {
		width: 100%;
	}

    #content-header {
        height: 300px;
    }

    #content-header {
        width: 100%!important;
        padding: 30px;
    }
    
    
    #content-header div.content h1{
        font-size: 2rem;
    }
    
    #content-header div.content p{
        color: var(--light);
        font-size: 0.7rem;
    }
    
    #content-header div div{
        display: flex;
        width: max-content;
        flex-direction: row;
        gap: 10px;
    }
    
    #content-header div div.button-group button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        animation: showSlowly 2s ease-in-out;
    }
    
    #content-header div div.button-group button i{
        font-size: 1.3rem;
    }

    /* policy */

    #policy #demo img{
        width: 150px;
        height: 150px;
        border-width: 5px;
    }

    #policy div.policy-content:nth-child(1) .row{
        padding-left: 0;
    }

    #policy div.policy-content .row h1{
        font-size: 1rem;
    }
    
    #policy div.policy-content .row label{
        display: none;
    }

    /* footer */

    #footer .row div > label{
        font-size: 1rem;
    }

    /* cart responsive */
    
    #cart {
        /* height: max-content; */
        padding: 10px;
    }

    #cart #cart-page {
        flex-direction: column;
    }

    #cart #cart-page > *{
        padding: 0px;
        height: max-content;
    }

    #cart #cart-list table thead {
        display: none;
    }

    #cart #cart-list table tbody tr {
        position: relative;
    }

    #cart #cart-list table tbody tr td {
        padding: 10px;
        height: 150px;
    }

    #cart #cart-list table tbody tr td.product-info {
        width: 100%;
    }

    #cart #cart-list table tbody tr td.product-info .product-content{
        padding-left:10px;
        width: 40%;
    }

    #cart #cart-list table tbody tr td.quantity-info{
       position: absolute;
       width: max-content;
       height: max-content;
       bottom: 10px;
       right: 0px;
       padding: 0;
    }

    #cart #cart-list table tbody tr td.total-price{
        position: absolute;
        width: max-content;
        height: max-content;
        bottom: 30px;
        padding: 0;
        left: calc(30% + 5px)
     }
    
     #cart #cart-list table tbody tr td.control{
        position: absolute;
        width: max-content;
        height: max-content;
        top: 0;
        right: 0;
        padding: 0;
     }
    #order-summary-frame {
        height: max-content!important;
        padding: 20px 0!important;
    }

    #order > *{
        width: 100%;
    }

    #order #order-right {
        right: 100%;
    }

    #order #order-right.show {
        right: 0;
        position: absolute;
        z-index: 10;
    }

    /* Products page */
   
    #product-page {
        flex-direction: column;
    }

    #product-page #product-page-left {
        width: 100%;
        padding: 0!important;
    }

    #product-page #product-page-left #product {
        height: 50%!important;
    }

    #product-page #product-page-left #comments {
        height: 50%!important;
    }

    #product-page #products-category {
        width: 100%;
        padding: 0;
        overflow: visible;
        border: none;
    }

    #product-page #products-category .products{
        padding: 0!important;
    }


    /*/////////*/

    #payment #payment-page > * {
        padding: 0;
    }

    #payment #payment-page,
    #payment #delivery-info{
        flex-direction: column;
    }
}

