:root {
    --green: #188e31;
    --light: #fff;
    --grey: #eee;
    --blue: #3C91E6;
    --light-blue: #abd3fb;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #c81a14;
    --yellow: #FFCE26;
    --light-yellow: #ffe0c6;
    --orange: #FD7238;
    --light-orange: #ffa16b;
    --lato: 'Lato', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 0;
    background-color: var(--light)!important;
    overflow: hidden;
    display: flex;
}

ul {
    list-style-type: none;
    padding-left: 5px!important;
}

a {
    text-decoration: none!important;
    cursor: pointer;
}

a > * {
    color: var(--dark);
}

p {
	margin: 0!important;
}

#navbar-left{
    width: 70px;
    height: 100%;
    position: sticky;
    background-color: var(--light);
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-right: 1px solid var(--grey);
}

#navbar-left.show {
    width: 250px;
}

#navbar-left label {
    display: none;
}

#navbar-left label.show {
    display: block;
}


#brand {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
}

#brand-name {
    font-size: 33px;
    font-family: 'Dancing Script', cursive;
}

#brand:hover #brand-name {
    transition: 1s;
    transform: scale(1.1);
}

#logo {
    width: 50px;
    border-radius: 50%;
}

#navbar-navigation {
    height: max-content;
}

.navbar-item{
    height: 48px;
    display: flex;
    position: relative;
    padding: 5px;
    border-radius: 5px;
}

.navbar-item:hover button{
    background-color: var(--grey);
}

.navbar-item.active:hover button{
    background-color: var(--light);
}

.navbar-item a,
.navbar-item button {
    width: 100%;
    height: 100%;
    display: flex;
    border: none;
    align-items: center;
    background-color: var(--light);
    cursor: pointer;
    border-left: 5px solid transparent;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
}

.navbar-item button i {
    font-size: 20px;
}

.navbar-item.active{
    border-radius: 5px 0px 0px 5px;
    border-right: 5px solid var(--light-orange);
    background-color: var(--light-yellow);
}

.navbar-item.active button,
.navbar-item.active button > * {
    color: var(--orange);
}


/* content */

#content {
    position: relative;
    width: calc(100% - 70px);
    height: 100vh;
    transition: 1s;
    margin-right: 0;
}

#content.active {
    width: calc(100% - 250px);
}

#content > * {
    font-family: 'Tilt Neon', cursive;
}

#navbar-top {
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding:10px 15px;
    transition: 1s;
    background-color: var(--light)!important;
    z-index: 1;
    border-bottom: 1px solid var(--grey);
}

#navbar-top button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    gap: 5px;
    border: 0.5px solid var(--light-orange);
}

#navbar-top button:hover {
    background-color: var(--light-orange);
    color: var(--light);
}

#navbar-top form {
    width: max-content;
    position: relative;
}

#search-input {
    border-radius: 5px;
    border: 0.5px solid var(--light-orange);
}
#navbar-top button#search-submit {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    border-left: 0.5px solid var(--light-orange);
}

#navbar-top .btn-group button {
    padding: 10px;
    border-radius: 10px;
    color: var(--orange);
}

#navbar-top .btn-group button:hover {
    background-color: var(--light-orange);
    color: var(--light);
}
