

/* content */

#content {
    position: relative;
    width: calc(100% - 70px);
    height: 100vh;
    transition: 1s;
    margin-right: 0;
}

#content.show {
    width: calc(100% - 280px);
}

#content > * {
    font-family: 'Tilt Neon', cursive;
}

#navbar-top {
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding:10px 15px;
    transition: 1s;
    background-color: var(--light)!important;
    z-index: 1;
    border-bottom: 1px solid var(--grey);
}

#navbar-top button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    gap: 5px;
    border: 0.5px solid var(--light-orange);
}

#navbar-top button:hover {
    background-color: var(--light-orange);
    color: var(--light);
}

#navbar-top form {
    width: max-content;
    position: relative;
}

#search-input {
    border-radius: 5px;
    border: 0.5px solid var(--light-orange);
}
#navbar-top button#search-submit {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    border-left: 0.5px solid var(--light-orange);
}

#navbar-top .btn-group button {
    padding: 10px;
    border-radius: 10px;
    color: var(--orange);
}

#navbar-top .btn-group button:hover {
    background-color: var(--light-orange);
    color: var(--light);
}


#main-content-frame {
    height: calc(100% - 60px);
}

#main-content {
    height: 100%;
    padding: 25px;
    overflow: scroll;
    z-index: 0;
}

/* content header */

#content-header {
    width: 100%;
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
}

#content-header div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content-header div.content h1{
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
}

#content-header div.content p{
    color: var(--dark-grey);
}

#content-header div div{
    display: flex;
    width: max-content;
    flex-direction: row;
    gap: 10px;
}

#content-header div div.button-group button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#content-header div div.button-group button i{
    font-size: 1.3rem;
}

#content-header div.intro{
    align-items: flex-end;
}

#content-header div.intro img{
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px var(--dark-grey);
}

/* products */

#products-category {
    width: 100%;
    height: max-content;
}

#products-category .products-list .products-header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#products-category .products-list .products-header h3{
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
}

#products-category .products-list .products-header button{
    border: none;
    padding: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: var(--orange);
}

#products-category .products-list .products{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    height: max-content;
    justify-content: center;
}

#products-category .products-list .products .product{
    width: 320px;
    height: 200px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--light);
    box-shadow: 0 3px 6px 0 rgba(79, 79, 79, 0.2), 0 4px 10px 0 rgba(86, 86, 86, 0.19);
}

#products-category .products-list .products .product:hover{
    transform: scale(1.03);
    transition: 0.5s;
}

#products-category .products-list .products .product:nth-child(n+13){
    display: none;
}

 .product a{
    width: 100%;
    height: 100%;
}

 .product .product-top{
    display: flex;
    height: 70%;
}

 .product img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

 .product .product-content{
    width: 60%;
    padding: 0 10px;
    gap: 10px;
}

 .product .product-content .product-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
}

 .product .product-content .description{
    word-wrap: break-word;
    width: 100%;
    height: 100px;
    overflow: hidden;
    font-size: 0.8rem;
    color: var(--dark-grey);
}

 .product a{
    width: max-content;
}

 .product a p{
    width: max-content;
   font-size: 1.1rem;
   margin: 0;
}

 .product .product-body{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.quantity-group{
   display: flex;
}

.quantity-group > *{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-group button{
    border-radius: 50%;
}

.quantity-group button,
 .product .product-body button.add-to-cart-btn{
    background-color: transparent;
    border: 0.5px solid var(--light-orange);
}

.quantity-group button:hover,
 .product .product-body button.add-to-cart-btn:hover{
    background-color: var(--light-orange);
    color: var(--light);
}

 .product .product-body button.add-to-cart-btn{
    border-radius: 20px;
    padding: 5px 30px;
    display: flex;
    justify-content: center;
}
 

.prices {
    color: var(--orange);
}


/* policy */

#policy {
    height: max-content;
}

#policy #demo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#policy #demo img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 10px solid var(--green);
}

#policy #demo img:hover {
    cursor: pointer;
    transition: 1s;
    transform: scale(1.05);
}

#policy div.policy-content .row{
    height: 50%;
    padding: 60px 0px;
}

#policy div.policy-content:nth-child(1) .row {
    text-align: right;
    padding-left: 50px;
}

#policy div.policy-content:nth-child(2) .row {
    text-align: right;
    padding-right: 50px;
}


#policy div.policy-content .row i{
    font-size: 70px;
    color: var(--green);
}

#policy div.policy-content .row label{
    font-size: 20px;
    color: var(--dark-grey);
}

/* contact */

#contact {
    background-color:var(--light);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(79, 79, 79, 0.2), 0 4px 10px 0 rgba(86, 86, 86, 0.19);
}

#contact .row div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#contact .row div:nth-child(1) {
   border-right: 1px solid var(--dark-grey);
}

#contact .row div > i{
    font-size: 30px;
    margin-right: 5px;
    color: var(--green);
}

#contact .row div > label{
    font-size: 20px;
}

/*--------- cart ---------*/


#main-content {
    height: 100%;
    z-index: 0;
}

#cart {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 25px;
    gap: 25px;
}

#cart #header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#cart #header .check-all-group{
    display: flex;
    align-items: center;
    gap: 10px;
}

#cart ul{
    padding: 10px!important;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    width: 100%;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0px 6px 3px var(--grey);
}

.cart-item div.cart-item-content {
    display: flex;
    gap: 20px;
}

.cart-item div.cart-item-control {
    display: flex;
    align-items: center;
}

.cart-item:hover {
    border: none;
}

.cart-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.cart-item input {
   cursor: pointer;
}

.cart-item-info {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0px 10px;
}

.cart-item-info > *{
    margin: 0!important;
}

.cart-item-info .btn-group .btn{
    padding: 0px 7px!important;
}

.cart-item-info .cart-item-price {
    color: var(--red);
    padding: 5px 0px;
}

#purchase-group {
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid var(--grey);
    box-shadow: 0 0px 6px 3px var(--grey);
}

#customer-contact-info {
    justify-content: space-between;
}

#total-prices-group {
    align-items: center;
}

#total-prices {
    font-size: larger;
    color: var(--red);
} 

#purchase-button-group{
    justify-content: space-between;
    gap: 10px;
}

#purchase-button-group button {
    width: 100%;
}

/* ------------- oder ------------- */

#order {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 25px;
    gap: 25px;
}

.oder-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--grey);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 8px 5px #dddfe2; 
}

.oder-items.active {
    box-shadow: 0 1px 8px 5px var(--light-blue);
}

.oder-status {
    width: 100%;  
}

.oder-steps {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.oder-steps .step{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid var(--dark-grey);
    background-color: var(--light);
    margin: 0;
    z-index: 1;
}

.oder-steps .step i{
    font-size: 1.5rem;
    color: var(--dark-grey);
}

.oder-steps .step-line{
    position: absolute;
    width: 33%;
    height: 3px;
    background-color: var(--blue);
}

.oder-steps .step:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 1s;
}

.oder-steps .step.completed{
    border: 3px solid var(--blue);
}

.oder-steps .step.completed i {
    color: var(--green);
}

.oder-list {
    height: 300px;
    overflow: auto;
}

.order-list ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.oder-item {
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.oder-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}


.oder-item .quantity-group {
    display: flex;
    gap: 20px
}

.oder-item .quantity-group > *{
    width: max-content;
}

.oder-item-info {
    padding: 0px 10px;
}

.oder-prices {
    padding: 10px 0px;
}

/* user */

#user-infomation {
    box-shadow: 0 1px 8px 5px #dddfe2;
    border-radius: 10px;
}

#user-img-group {
    height: 200px;
    background-color: var(--grey);
    position: relative;
}

#avata {
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translate(-50%, 0);
}

#user-name-group {
    margin-top: 90px;
}

#img-control-group {
    padding: 10px;
}

#img-control-group {
    padding: 10px;
    justify-content: space-between;
}

#img-control-group button:nth-child(1){
    width: calc(100% - 70px);
}
#img-control-group button:nth-child(2){
    width: 60px;
}

#info-group {
    padding: 10px 0;
    padding-right: 10px;
}
#info-group .input-group:nth-child(even){
    margin: 5px 0px;
}

#info-group .input-group span{
    width: 100px;
    border: none;
    background-color: transparent;
}

#info-group .input-group input,
#info-group .input-group button{
    border-radius: 5px;
}

#info-group .input-group input:disabled{
    background-color: transparent;
    border: none;
}

#gender-control {
    display: flex;
    align-items: center;
}

#gender-control input{
    margin-right: 5px;
}

/* notifycation */

#notifycation {
    padding: 10px 20px;
    background-color: var(--red);
    color: var(--light);
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    animation: showNotify 1s;
}


#notifycation.success {
    background-color: var(--green);
}
@keyframes showNotify {
    0% {
        opacity: 0;
        transform: translate(100%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media only screen and (max-width: 768px) {
    #slider img{
        height: 250px;
    }

    .product a img {
        height: 150px;
    }
}