:root {
    --green: #188e31;
    --light: #F9F9F9;
    --grey: #eee;
    --blue: #3C91E6;
    --light-blue: #abd3fb;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #c81a14;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
    --lato: 'Lato', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
}

body {
    height: 100vh;
    padding: 0;
    background-image: url(../pictures/slider1.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    display: flex;
}

ul {
    list-style-type: none;
    padding-left: 5px!important;
}

a {
    text-decoration: none!important;
    color: var(--blue)!important;
}

a > * {
    color: var(--dark);
}


#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro {
    width: 70%;
    height: max-content;
    padding: 100px;
}

#intro > *{
    color: var(--light);
    cursor: pointer;
    transition: 1s;
}

#intro h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    animation : showHeading 1.5s;
}

#intro p {
    font-size: 1.2rem;
    animation : showContent 1.5s;
}

#intro h1:hover, #intro p:hover {
    transform: scale(1.05);
}


#intro button{
    animation : showButton 1.5s;
    width: 200px;
}

#login-form {
    transition: 0.6s;
}


.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-form .input-group{
    width: 100%;
}

#login-form .input-group:nth-child(even){
    margin: 7px 0px;
}


#notifycation {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--red);
    padding: 20px;
    border-radius: 10px;
    color: var(--light);
    animation: showNotify 0.5s;
    display: none;
    transition: 1s;
}


@keyframes showHeading {
    0% {
        opacity: 0;
        filter: blur(5px);
        transform: translate(0, -200px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes showContent {
    0% {
        opacity: 0;
        filter: blur(5px);
        transform: translate(200px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes showButton {
    0% {
        opacity: 0;
    }
    100% {
    }
}

@keyframes showNotify {
    0% {
        transform: translate(100%, 0);
    }
    100% {
    }
}